ci:
  autoupdate_schedule: "quarterly"
files: ^openff|(^examples/((?!deprecated).)*$)|^docs|(^utilities/((?!deprecated).)*$)
repos:
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.7.2
  hooks:
    - id: ruff
- repo: https://github.com/adamchainz/blacken-docs
  rev: 1.18.0
  hooks:
    - id: blacken-docs
      files: ^docs/.*\.(rst|md)$
