ci:
  autoupdate_schedule: "monthly"
repos:
- repo: https://github.com/psf/black
  rev: 22.1.0
  hooks:
  - id: black
    files: ^openff
    args: [--check]
  - id: black-jupyter
    files: ^examples/((?!deprecated).)*$
- repo: https://github.com/PyCQA/isort
  rev: 5.10.1
  hooks:
  - id: isort
    files: ^openff
    args: [--check]
- repo: https://github.com/PyCQA/flake8
  rev: 4.0.1
  hooks:
  - id: flake8
    files: ^openff
- repo: https://github.com/nbQA-dev/nbQA
  rev: 1.2.3
  hooks:
    - id: nbqa-pyupgrade
      files: ^examples/((?!deprecated).)*$
      args:
        - --py37-plus
    - id: nbqa-isort
      files: ^examples/((?!deprecated).)*$
