ci:
  autoupdate_schedule: "quarterly"
files: ^openff|(^examples/((?!deprecated).)*$)
repos:
- repo: https://github.com/psf/black
  rev: 23.1.0
  hooks:
  - id: black
  - id: black-jupyter
- repo: https://github.com/PyCQA/isort
  rev: 5.12.0
  hooks:
  - id: isort
- repo: https://github.com/PyCQA/flake8
  rev: 6.0.0
  hooks:
  - id: flake8
    files: ^openff
    additional_dependencies: [
        'flake8-absolute-import',
        'flake8-no-pep420',
        'flake8-bugbear',
    ]
- repo: https://github.com/nbQA-dev/nbQA
  rev: 1.6.1
  hooks:
    - id: nbqa-pyupgrade
      args:
        - --py37-plus
    - id: nbqa-isort
    - id: nbqa-flake8
      args:
        - '--select=F'
