name: offtk-examples
channels:
  - conda-forge
  - openeye
dependencies:
  - python >= 3.8
  - pip
  - pytest
  - pytest-cov
  - pytest-xdist
  - pytest-rerunfailures
  - nbval
  - codecov
  - coverage
  - numpy
  - networkx
  - parmed
  - rdkit
  - ambertools
  - openeye-toolkits
  - packaging
  - openmm >=7.7
  - openff-amber-ff-ports >=0.0.3
  - openff-forcefields >=2.0.0
  - openff-units >=0.1.7
  - openff-utilities >=0.1.5
  - openff-interchange-base >0.2.0rc6
  - smirnoff99Frosst
  - cachetools
  - cached-property
  - pyyaml
  - toml
  - bson
  - msgpack-python
  - xmltodict
  - python-constraint
  - qcelemental
  - qcportal >=0.15
  - qcengine
  - mdtraj
  - ipywidgets >=7,<8
  - pdbfixer
  - nglview
  - ipywidgets >=7,<8
  - notebook
  - gromacs >=2021=nompi*
  - snakeviz
  - pandas
  - panedr
  - openmmforcefields >=0.11.2
