name: offtk-examples
channels:
  - conda-forge
  - bioconda

# These dependencies are in addition to the toolkit itself
dependencies:
  - nglview
  - notebook
  - gromacs
  - qcelemental
  - qcportal
  - qcengine
  - openmmforcefields
  - mendeleev
  # Below are dependencies of the toolkit; they are listed here as a reference
  - mdtraj
  - numpy
  - openmm
  - openff-forcefields >=2.0.0
  - openff-interchange >=0.1.3
  - gromacs
  - lammps
  - ambertools
