name: openff-toolkit-docs
channels:
    # Avoids crashing RTD machines by pulling an empty cudatoolkit pacakge
    - jaimergp/label/unsupported-cudatoolkit-shim
    - conda-forge
    - defaults
dependencies:
    - pip
    # readthedocs dependencies
    - myst-nb
    - myst-parser>=0.14
    - docutils
    - sphinx-notfound-page
    - sphinx>=5.0,<6
    # conda build dependencies
    - python=3.9
    - setuptools
    - numpy
    - openmm
    - networkx
    - parmed
    - rdkit
    - ambertools
    - packaging
    - openff-units
    - openff-utilities
    - cached_property
    - cachetools
    - python-constraint
    - mdtraj
    - qcportal
    - nglview
    # Serialization: Should these be optional?
    - toml
    - bson
    - msgpack-python
    - xmltodict
    - pyyaml
    - cairo >=1.16
    # Theme
    - pip:
        - git+https://github.com/openforcefield/openff-sphinx-theme.git@main
