name: openforcefield
channels:
    # Avoids crashing RTD machines by pulling an empty cudatoolkit pacakge
    - jaimergp/label/unsupported-cudatoolkit-shim
    - conda-forge
    - defaults
dependencies:
    # readthedocs dependencies
    - numpydoc
    - myst-nb
    - myst-parser>=0.13.6
    - sphinx_bootstrap_theme
    - testpath==0.3.1
    - docutils
    # conda build dependencies
    - python
    - setuptools
    - numpy
    - openmm
    - networkx
    - parmed
    - rdkit
    - ambertools
    - packaging
    # Serialization: Should these be optional?
    - toml
    - bson
    - msgpack-python
    - xmltodict
    - pyyaml
    - cairo >=1.16

    - pip:
        - moldoc
