name: Tests against beta/RC builds

on:
  schedule:
    - cron: "0 3 * * 0"
  workflow_dispatch:

defaults:
  run:
    shell: bash -l {0}

jobs:
  test:
    name: Test beta/RC builds on ${{ matrix.python-version }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu-latest
          - macos-12
        python-version:
          - "3.11"

    env:
      OE_LICENSE: ${{ github.workspace }}/oe_license.txt
      PYTEST_ARGS: -r fE --tb=short -nauto

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 2

      - name: Install environment with ${{ env.JOBNAME }}
        uses: mamba-org/setup-micromamba@v1
        with:
          environment-file: devtools/conda-envs/test_env.yaml
          condarc: |
            channels:
              - conda-forge/label/openmm_rc
              - conda-forge/label/mdtraj_rc
              - openeye/label/rc
              - openeye
              - conda-forge
          create-args: >-
            python=${{ matrix.python-version }}
          # default - will pull down 2.0 which we don't want!
          # micromamba-version: latest
          # pin to latest 1.x release
          micromamba-version: "1.5.10-0"

      - name: Make oe_license.txt file from GH org secret "OE_LICENSE"
        env:
          OE_LICENSE_TEXT: ${{ secrets.OE_LICENSE }}
        run: |
          echo "${OE_LICENSE_TEXT}" > ${OE_LICENSE}

      - name: Install package
        run: |
          micromamba remove --force openff-toolkit openff-toolkit-base
          python -m pip install .

      - name: Install test plugins
        run: python -m pip install utilities/test_plugins

      - name: Environment Information
        run: micromamba info && micromamba list

      - name: Check links
        run: pytest -r fE --tb=short openff/toolkit/_tests/test_links.py

      - name: Run mypy
        run: mypy -p "openff.toolkit"

      - name: Run unit tests
        run: |
          PYTEST_ARGS+=" --ignore=openff/toolkit/_tests/test_examples.py"
          PYTEST_ARGS+=" --ignore=openff/toolkit/_tests/test_links.py"
          PYTEST_ARGS+=" --runslow"
          pytest $PYTEST_ARGS

      - name: Run code snippets in docs
        run: |
          pytest -v --doctest-glob="docs/*.rst" --doctest-glob="docs/*.md" docs/
