name: Weekly test against upstream beta and RC builds

on:
  schedule:
    - cron: "0 0 * * 0"
  workflow_dispatch:

jobs:
  test:
    name: Test beta and RC builds on on ${{ matrix.python-version }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu-latest
          - macos-latest
        python-version:
          - 3.9

    env:
      OE_LICENSE: ${{ github.workspace }}/oe_license.txt
      PYTEST_ARGS: -r fE --tb=short --cov=openff --cov-config=setup.cfg --cov-append --cov-report=xml

    steps:
      - uses: actions/checkout@v3.1.0
        with:
          fetch-depth: 2

      - name: Install environment with ${{ env.JOBNAME }}
        uses: mamba-org/provision-with-micromamba@main
        with:
          environment-file: devtools/conda-envs/beta_rc_env.yaml
          extra-specs: |
            python=${{ matrix.python-version }}

      - name: Additional info about the build
        shell: bash -l {0}
        run: |
          uname -a
          df -h
          ulimit -a

      - name: Make oe_license.txt file from GH org secret "OE_LICENSE"
        shell: bash
        env:
          OE_LICENSE_TEXT: ${{ secrets.OE_LICENSE }}
        run: |
          echo "${OE_LICENSE_TEXT}" > ${OE_LICENSE}

      - name: Install package
        shell: bash -l {0}
        run: |
          conda remove --force openff-toolkit openff-toolkit-base
          python setup.py develop --no-deps

      - name: Environment Information
        shell: bash -l {0}
        run: |
          conda info
          conda list

      - name: Check links
        shell: bash -l {0}
        run: |
          pytest -r fE --tb=short openff/toolkit/tests/test_links.py

      - name: Run unit tests
        shell: bash -l {0}
        run: |
          PYTEST_ARGS+=" --ignore=openff/toolkit/tests/test_examples.py"
          PYTEST_ARGS+=" --ignore=openff/toolkit/tests/test_links.py"
          PYTEST_ARGS+=" --runslow"
          pytest $PYTEST_ARGS openff/toolkit/tests/

      - name: Run code snippets in docs
        shell: bash -l {0}
        run: |
          pytest -v --doctest-glob="docs/*.rst" --doctest-glob="docs/*.md" docs/

      - name: Run mypy
        shell: bash -l {0}
        run: |
          mypy --namespace-packages -p "openff.toolkit"

      - name: Codecov
        uses: codecov/codecov-action@v3.1.1
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          file: ./coverage.xml
          fail_ci_if_error: true
