name: CI

on:
  push:
    branches:
      - "master"
      - "maintenance/.+"
  pull_request:
    branches:
      - "master"
      - "maintenance/.+"
  schedule:
    # Nightly tests run on master by default:
    #   Scheduled workflows run on the latest commit on the default or base branch.
    #   (from https://help.github.com/en/actions/reference/events-that-trigger-workflows#scheduled-events-schedule)
    - cron: "0 0 * * *"

jobs:
  test:

    runs-on: ${{ matrix.cfg.os }}
    strategy:
      fail-fast: false
      matrix:
        python-version:
          - 3.6
          - 3.7
          # Uncomment when ready ;)
          # - 3.8
        cfg:
          - os: ubuntu-latest
            rdkit: true
            openeye: false

          - os: ubuntu-latest
            rdkit: false
            openeye: true

          - os: ubuntu-latest
            rdkit: true
            openeye: true

          - os: macOS-latest
            rdkit: true
            openeye: false

    env:
      CI_OS: ${{ matrix.cfg.os }}
      RDKIT: ${{ matrix.cfg.rdkit }}
      OPENEYE: ${{ matrix.cfg.openeye }}
      PYVER: ${{ matrix.python-version }}
      OE_LICENSE: ${{ github.workspace }}/oe_license.txt

    steps:
    - uses: actions/checkout@v2
    - name: Additional info about the build
      shell: bash
      run: |
        uname -a
        df -h
        ulimit -a
    - name: Fix conda permissions in MacOS
      shell: bash
      if: startsWith(matrix.cfg.os, 'macOS')
      run: |
        sudo chown -R $(id -u):$(id -g) ${CONDA}
    - name: Configure conda
      shell: bash
      run: |
        . devtools/gh-actions/initialize_conda.sh
        conda activate
        conda config --set always_yes yes
        conda config --add channels omnia --add channels conda-forge --add channels openeye
        conda install --quiet conda conda-build jinja2 anaconda-client
        conda update --quiet --all
        conda info --all
        conda list
    - name: Decrypt OpenEye license
      shell: bash
      env:
        ENC_OE_LICENSE: ${{ secrets.OE_LICENSE__EXP_JUN2020 }}
      run: |
        echo "${ENC_OE_LICENSE}" > ${OE_LICENSE}
    - name: Prepare test environment
      shell: bash
      run: |
        . devtools/gh-actions/initialize_conda.sh
        conda activate
        python devtools/scripts/create_conda_env.py -n=test -p=$PYVER devtools/conda-envs/test_env.yaml
        conda activate test
        if [[ "$RDKIT" == true ]]; then conda install rdkit; fi
        if [[ "$OPENEYE" == true ]]; then
          conda install openeye-toolkits
          python -c "from openeye import oechem; assert oechem.OEChemIsLicensed()"
        fi
        python -m pip install --no-deps .
    - name: Test the package
      shell: bash
      run: |
        . devtools/gh-actions/initialize_conda.sh
        conda activate test
        PYTEST_ARGS="-v --ignore=utilities --ignore=examples/deprecated --nbval-lax --cov=openforcefield --cov-config=setup.cfg"
        if [[ "$RDKIT" == true && "$OPENEYE" == true ]]; then
          PYTEST_ARGS+=" --ignore=docs --ignore=devtools --doctest-modules"
        elif [[ "$OPENEYE" == true ]]; then
          PYTEST_ARGS+=" --ignore=docs --ignore=devtools"
          PYTEST_ARGS+=" --ignore=examples/check_dataset_parameter_coverage"
          PYTEST_ARGS+=" --ignore=examples/QCArchive_interface"
        fi
        pytest $PYTEST_ARGS

    - name: Codecov
      uses: codecov/codecov-action@v1
      if: matrix.cfg.openeye == true && matrix.cfg.rdkit == true
