name: Examples

on:
  push:
    branches:
      - "master"
      - "maintenance/.+"
  pull_request:
    branches:
      - "master"
      - "maintenance/.+"
  schedule:
    # Nightly tests run on master by default:
    #   Scheduled workflows run on the latest commit on the default or base branch.
    #   (from https://help.github.com/en/actions/reference/events-that-trigger-workflows#scheduled-events-schedule)
    - cron: "0 0 * * *"

jobs:
  test:
    if: (github.event_name == 'schedule' && github.repository == 'openforcefield/openff-toolkit') || (github.event_name != 'schedule')
    name: ${{ matrix.os }}, Python ${{ matrix.cfg.python-version }}, RDKit=${{ matrix.cfg.rdkit }}, OpenEye=${{ matrix.cfg.openeye }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu-latest
          - macos-latest
        cfg:
          - python-version: 3.7
            rdkit: "true"
            openeye: "false"

          - python-version: 3.7
            rdkit: "false"
            openeye: "true"


    env:
      CI_OS: ${{ matrix.os }}
      RDKIT: ${{ matrix.cfg.rdkit }}
      OPENEYE: ${{ matrix.cfg.openeye }}
      PYVER: ${{ matrix.cfg.python-version }}
      OE_LICENSE: ${{ github.workspace }}/oe_license.txt
      PACKAGE: openff
      PYTEST_ARGS: -r fE --tb=short --cov=openff --cov-config=setup.cfg --cov-append --cov-report=xml
      NB_ARGS: -v --nbval-lax --ignore=examples/deprecated

    steps:
      - uses: actions/checkout@v2.3.4
        with:
          fetch-depth: 2

      - uses: conda-incubator/setup-miniconda@v2.1.1
        name: Install with only RDKit
        if: ${{ matrix.cfg.rdkit == 'TRUE' && matrix.cfg.openeye == 'FALSE' }}
        with:
          python-version: ${{ matrix.cfg.python-version }}
          activate-environment: test
          environment-file: devtools/conda-envs/rdkit.yaml
          auto-activate-base: false
          miniforge-version: latest
          miniforge-variant: Mambaforge
          use-mamba: true
      - uses: conda-incubator/setup-miniconda@v2.1.1
        name: Install with OpenEye toolkits
        if: ${{ matrix.cfg.rdkit == 'FALSE' && matrix.cfg.openeye == 'TRUE' }}
        with:
          python-version: ${{ matrix.cfg.python-version }}
          activate-environment: test
          environment-file: devtools/conda-envs/openeye.yaml
          auto-activate-base: false
          miniforge-version: latest
          miniforge-variant: Mambaforge
          use-mamba: true

      - name: Install additional example dependencies
        shell: bash -l {0}
        run: |
          mamba env update --file examples/environment.yaml --name test

          # Remove rdkit if it is not being tested, as it is a dependency of openmmforcefields
          if [[ "$RDKIT" == false ]]; then
            conda remove --force rdkit ambertools
          fi

      - name: Additional info about the build
        shell: bash -l {0}
        run: |
          uname -a
          df -h
          ulimit -a

      - name: Make oe_license.txt file from GH org secret "OE_LICENSE"
        shell: bash
        env:
          OE_LICENSE_TEXT: ${{ secrets.OE_LICENSE }}
        run: |
          echo "${OE_LICENSE_TEXT}" > ${OE_LICENSE}

      - name: Install package
        shell: bash -l {0}
        run: |
          # Remove the packaged openff-toolkit, installed as a dependency of openmmforcefields
          conda remove --force openff-toolkit-base
          python setup.py develop --no-deps

      - name: Environment Information
        shell: bash -l {0}
        run: |
          conda info
          conda list

      - name: Run example scripts
        shell: bash -l {0}
        run: |
          if [[ "$RDKIT" == false ]]; then
            PYTEST_ARGS+=" --ignore=examples/check_dataset_parameter_coverage"
            PYTEST_ARGS+=" --ignore=examples/QCArchive_interface"
          fi
          pytest $PYTEST_ARGS openff/toolkit/tests/test_examples.py

      - name: Run example notebooks
        shell: bash -l {0}
        run: |
          if [[ "$RDKIT" == false ]]; then
            NB_ARGS+=" --ignore=examples/QCArchive_interface"
            NB_ARGS+=" --ignore=examples/check_dataset_parameter_coverage"
            NB_ARGS+=" --ignore=examples/conformer_energies"
          fi
          pytest $NB_ARGS examples

      - name: Codecov
        uses: codecov/codecov-action@v2.0.3
        with:
          file: ./coverage.xml
          fail_ci_if_error: true
