name: lint

on:
  push:
    paths:
      - 'openforcefield/**.py'
      - 'setup.cfg'

jobs:

  lint:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - uses: actions/setup-python@v1
        with:
          python-version: '3.7'

      - name: Install linters
        run: |
          pip install black

      - name: Run black
        run: |
          black openff --check openforcefield
