name: Update latest tag
on:
  workflow_dispatch:
jobs:
  build:
    runs-on: ubuntu-latest
    steps:

    - name: Update latest tag
      uses: richardsimko/update-tag@v1
      with:
        tag_name: stable
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
